*.class
*.log
logs/
*.swp
.#*
*.iml
.metals/
.DS_Store
*.pem
*.der
*.p12
*.pkcs12
*.jks
yarn.lock
.tags*
.java-version
calibrations/
.metals/
.bloop/
project/project/.bloop/
metals.sbt
.vscode
jre

# hydra
.hydra/
project/hydra.sbt

# sbt specific
.cache
.history
.lib/
.bsp
dist/*
explore/heroku/static/
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
sbt-ctags-dep-srcs/
buildinfo.properties
sbt-launch.jar

# Scala-IDE specific
.scala_dependencies
.cache
.classpath
.project
.worksheet/
*.worksheet.sc
bin/
.settings/
.idea
*.ipr
*.iws

# OS X
.DS_Store

# Nix
.direnv/

# Tags
.tags
GPATH
GRTAGS
GTAGS

# ENSIME
.ensime
.ensime_cache/
.#*
ensime.sbt

archive
smartgcal
.jvmopts

# Node modules
node_modules/
vars.css

# Nix
.direnv/

# Web development runtime files
local.conf.json*

# Deployment files
observe/web/client/deploy

.vite/

*.todo

explore/common/src/main/publicdev/

# vite
server.cert
server.key
stats.html

# Firebase
.firebase/
.direnv
.jvmopts

# Local development environment
local.conf.json*

# SOPS secrets - private keys only
apps-keys.txt
