@use 'sass:meta';
@use '/lucuma-css/lucuma-ui-common';

.light-theme {
  @include meta.load-css('/lucuma-css/light-theme');
}

.dark-theme {
  @include meta.load-css('/lucuma-css/dark-theme');
}

@include meta.load-css('/lucuma-css/lucuma-ui-prime');

.dark-theme,
.light-theme {
  // TODO: Move to lucuma-ui
  // From the SUI Header component
  .pl-header {
    font-size: 1.2857em;
    font-weight: bold;
    line-height: 1.2857em;
    margin: calc(2rem - 0.1429em) 0 1rem;

    &.pl-small {
      font-size: 1.0714em;
    }
  }
}
