@use '/lucuma-css/lucuma-ui-common.scss' as lucumaUICommon;

html {
  font-size: 14px;
  overflow: hidden; // Avoid "spring" effect when scrolling tables beyond their top/bottom.
}

body {
  background-color: var(--color-background);
  color: var(--text-color);
  margin: 0;
}

.main-header {
  color: var(--color-text-alt);
}

.only-small-screens {
  @media screen and (min-width: lucumaUICommon.$tablet-responsive-cutoff) {
    display: none;
  }
}

.only-large-screens {
  @media screen and (max-width: lucumaUICommon.$tablet-responsive-cutoff + 1) {
    display: none;
  }
}

.observe-main-panel {
  display: flex;
  flex-direction: column;

  .solar-system {
    position: relative;
  }
}

.observe-login-title {
  border-bottom-color: var(--yellow-300);
}

.p-tabview.observe-sequence-tab-view .p-tabview-panels {
  height: 100%;
  padding: 0;
}

.p-splitter {
  &.observe-shrinkable {
    flex-grow: 2;
    min-width: 0;
    min-height: 0;
    overflow: auto;
  }
}

.p-tabview .p-tabview-panels .observe-sequence-tab-panel {
  height: 100%; // Required for virtualized table within.
}

.p-tabview .p-tabview-nav li.observe-sequence-tab-panel {
  min-width: 20%;

  & .p-tabview-nav-link {
    justify-content: center;
    padding: 0.5em;
  }

  & .p-tabview-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.observe-top-panel {
  display: flex;
  flex-direction: column;
}

.observe-active-instrument-label {
  padding-bottom: 0.5em;
}

.p-tag {
  &.observe-label-pointer {
    padding: 5px 10px;
  }

  &.observe-idle-tag {
    background-color: var(--gray-400);
  }

  &.observe-running-tag {
    background-color: var(--orange-500);
  }
}

.p-accordion.observe-log-area {
  margin-top: auto;

  .p-accordion-header:not(.p-disabled) {
    .p-accordion-header-link {
      padding: 0.6em 0.8em;
      font-size: small;

      &:focus {
        box-shadow: none;
      }
    }
  }
}

.p-toolbar {
  &.observe-footer {
    border-radius: unset;
    min-height: 3em;
    max-height: 3em;
    padding-top: 0;
    padding-bottom: 0;
    background: var(--gray-900);
    color: var(--gray-50);
  }
}

.observe-centered {
  display: flex;
  justify-content: center;
}

.observe-component-label {
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
}

.p-selectbutton {
  &.observe-obs-class-select {
    border: 1px solid var(--surface-border);

    .p-button {
      font-size: 0.85em;
      border: 0;
      padding-top: 0.85em;
      padding-bottom: 0.85em;

      &:not(:first-child) {
        border-left: 1px solid var(--surface-border);
      }

      svg {
        margin-right: 2px;
      }

      &.p-highlight {
        background: var(--green-800);
        border-color: var(--green-800);

        &:hover {
          background: var(--green-800);
          border-color: var(--green-800);
        }
      }
    }
  }
}

.pl-react-table.p-datatable.lucuma-sequence-table {
  tbody {
    tr.lucuma-sequence-row-has-extra {
      td:not(.observe-breakpoint-table-cell) {
        padding-top: 6px;
      }
    }
  }
}

.observe-config-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  .observe-conditions-label {
    @include lucumaUICommon.text-ellipsis;

    font-weight: bold;

    @media screen and (max-width: lucumaUICommon.$tablet-responsive-cutoff) {
      display: none;
    }
  }

  label {
    font-weight: bold;
    font-size: smaller;
  }

  input {
    font-size: smaller;
  }

  .p-dropdown-label,
  .p-inputtext {
    font-size: smaller;
  }

  .observe-conditions-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;

    @media screen and (max-width: lucumaUICommon.$tablet-responsive-cutoff) {
      gap: 2px;
    }

    .p-component {
      width: 7em;
    }

    .observe-image-quality-area {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .observe-cloud-extinction-area {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .observe-water-vapor-area {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .observe-sky-background-area {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  .observe-names-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;

    .observe-observer-area {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .observe-operator-area {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}

.observe-observation-area {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .observation-area-sequence-table-expand-button {
    margin: 0 0 15px 10px;
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
}

.observe-observation-area-error {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.observe-configuring-row {
  display: flex;
  padding-left: 10px;
  padding-right: 20px;
}

.pl-react-table.p-datatable.p-datatable-hoverable-rows {
  .p-datatable-tbody {
    & > tr {
      &.observe-row-active {
        background-color: var(--active-row-background);

        &:not(.p-highlight, .p-datatable-emptymessage, .is-subcomponent):hover {
          background-color: var(--active-row-background);
        }
      }

      &.observe-row-negative {
        background-color: var(--negative-row-background);
        color: var(--negative-row-color);

        &:not(.p-highlight, .p-datatable-emptymessage, .is-subcomponent):hover {
          background-color: var(--negative-row-background);
          color: var(--negative-row-color);
        }
      }
    }
  }

  &.observe-observe-table {
    width: 100%;

    thead {
      z-index: 1;

      tr > th {
        padding: 0.5em 0.75em;
        border: 1px solid var(--surface-border);
      }
    }

    tr > td {
      min-width: 20px;
      font-size: small;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding-left: 0.75em;
      padding-right: 0.75em;

      &:first-of-type {
        border-left: none;
      }
    }
  }

  &.observe-obs-list-table {
    tr > td {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

    .observe-load-button-cell {
      padding: 0;

      .observe-load-button.p-component.p-button {
        padding: 3px;
      }
    }
  }

  &.observe-step-table {
    tr.observe-step-row-done {
      color: var(--disabled-row-color);
      background: var(--disabled-row-background);
    }

    tr.observe-step-row-warning {
      background-color: var(--active-row-background);
    }

    tr.observe-step-row-error {
      background-color: var(--negative-row-background);
      color: var(--negative-row-color);

      &:not(.p-highlight, .p-datatable-emptymessage, .is-subcomponent):hover {
        background-color: var(--negative-row-background);
        color: var(--negative-row-color);
      }
    }

    $separator-color: var(--gray-200);
    $hover-color: var(--green-500);
    $atom-color: var(--gray-400);
    $breakpoint-color: var(--red-500);

    // ALL COMBINATIONS MUST BE EXPLICIT
    @function row-line($height, $color) {
      @return inset 0 $height $color;
    }

    @function top-line($color) {
      @return inset 0 1px $color;
    }

    @function top-thick-line($color) {
      @return inset 0 2px $color;
    }

    @function bottom-line($color) {
      @return inset 0 -1px $color;
    }

    @function bottom-thick-line($color) {
      @return inset 0 -2px $color;
    }

    @function top-double-line($outer, $inner) {
      // Thinner lines must be first since they have precedence.
      @return top-line($outer), top-thick-line($inner);
    }

    @function bottom-double-line($outer, $inner) {
      // Thinner lines must be first since they have precedence.
      @return bottom-line($outer), bottom-thick-line($inner);
    }

    /* stylelint-disable scss/comment-no-empty */
    tr {
      box-shadow: none !important;

      td {
        padding-top: 1px;
        padding-bottom: 1px;

        // We have some row separators which are split betwen the previous and next row.
        // This is easier to deal with with border 0 and box-shadows.
        border-bottom: 0;
      }

      // Regular row.
      // -----------------------------
      //
      //
      // ROW CONTENTS
      //
      //
      // SEPARATOR-SEPARATOR-SEPARATOR
      td:not(.observe-breakpoint-table-cell, .lucuma-sequence-extra-row-shown) {
        box-shadow: bottom-line($separator-color) !important;
      }

      &:not(.observe-row-header):hover {
        // Regular hovering row.
        // HOVER-HOVER-HOVER-HOVER-HOVER
        //
        //
        // ROW CONTENTS
        //
        //
        // HOVER-HOVER-HOVER-HOVER-HOVER
        td:not(.observe-breakpoint-table-cell, .lucuma-sequence-extra-row-shown) {
          box-shadow: top-line($hover-color), bottom-line($hover-color) !important;
        }
      }
    }

    tr.observe-step-row-first-in-atom:not(:first-of-type) {
      // First-in-atom row.
      // ATOM-ATOM-ATOM-ATOM-ATOM-ATOM
      //
      //
      // ROW CONTENTS
      //
      //
      // SEPARATOR-SEPARATOR-SEPARATOR
      td:not(.observe-breakpoint-table-cell, .lucuma-sequence-extra-row-shown) {
        box-shadow: top-line($atom-color), bottom-line($separator-color) !important;
      }

      &:hover {
        // First-in-atom hovering row.
        // ATOM-ATOM-ATOM-ATOM-ATOM-ATOM
        // HOVER-HOVER-HOVER-HOVER-HOVER
        //
        // ROW CONTENTS
        //
        //
        // HOVER-HOVER-HOVER-HOVER-HOVER
        td:not(.observe-breakpoint-table-cell, .lucuma-sequence-extra-row-shown) {
          box-shadow:
            top-double-line($atom-color, $hover-color), bottom-line($hover-color) !important;
        }
      }

      &:has(+ .observe-step-row-with-breakpoint) {
        // First-in-atom row with next row with breakpoint.
        // ATOM-ATOM-ATOM-ATOM-ATOM-ATOM
        //
        //
        // ROW CONTENTS
        //
        //
        // BREAKPOINT-BREAKPOINT-BREAKPO
        td:not(.observe-breakpoint-table-cell, .lucuma-sequence-extra-row-shown) {
          box-shadow: top-line($atom-color), bottom-line($breakpoint-color) !important;
        }

        &:not(.observe-row-header):hover {
          // First-in-atom hovering row with next row with breakpoint.
          // ATOM-ATOM-ATOM-ATOM-ATOM-ATOM
          // HOVER-HOVER-HOVER-HOVER-HOVER
          //
          // ROW CONTENTS
          //
          // HOVER-HOVER-HOVER-HOVER-HOVER
          // BREAKPOINT-BREAKPOINT-BREAKPO
          td:not(.observe-breakpoint-table-cell, .lucuma-sequence-extra-row-shown) {
            box-shadow:
              top-double-line($atom-color, $hover-color),
              bottom-double-line($breakpoint-color, $hover-color) !important;
          }
        }
      }
    }

    tr:has(+ .observe-step-row-first-in-atom) {
      // Regular row with next row first-in-atom.
      // -----------------------------
      //
      //
      // ROW CONTENTS
      //
      //
      // ATOM-ATOM-ATOM-ATOM-ATOM-ATOM
      td:not(.observe-breakpoint-table-cell, .lucuma-sequence-extra-row-shown) {
        box-shadow: bottom-line($atom-color) !important;
      }

      &:not(.observe-row-header):hover {
        // Regular hovering row with next row first-in-atom.
        // HOVER-HOVER-HOVER-HOVER-HOVER
        //
        //
        // ROW CONTENTS
        //
        // HOVER-HOVER-HOVER-HOVER-HOVER
        // ATOM-ATOM-ATOM-ATOM-ATOM-ATOM
        td:not(.observe-breakpoint-table-cell, .lucuma-sequence-extra-row-shown) {
          box-shadow:
            top-line($hover-color), bottom-double-line($atom-color, $hover-color) !important;
        }
      }
    }

    tr:has(+ .observe-step-row-with-breakpoint) {
      // Regular row with next row with breakpoint.
      // -----------------------------
      //
      //
      // ROW CONTENTS
      //
      //
      // BREAKPOINT-BREAKPOINT-BREAKPO
      td:not(.observe-breakpoint-table-cell, .lucuma-sequence-extra-row-shown) {
        box-shadow: bottom-line($breakpoint-color) !important;
      }

      &:not(.observe-row-header):hover {
        // Regular hovering row with next row with breakpoint.
        // HOVER-HOVER-HOVER-HOVER-HOV
        //
        //
        // ROW CONTENTS
        //
        // HOVER-HOVER-HOVER-HOVER-HOV
        // BREAKPOINT-BREAKPOINT-BREAK
        td:not(.observe-breakpoint-table-cell, .lucuma-sequence-extra-row-shown) {
          box-shadow:
            top-line($hover-color), bottom-double-line($breakpoint-color, $hover-color) !important;
        }
      }
    }

    tr.observe-step-row-with-breakpoint,
    tr.observe-step-row-with-breakpoint:not(:first-of-type) {
      // Breakpoint row.
      // BREAKPOINT-BREAKPOINT-BREAKPO
      //
      //
      // ROW CONTENTS
      //
      //
      // SEPARATOR-SEPARATOR-SEPARATOR
      td:not(.observe-breakpoint-table-cell, .lucuma-sequence-extra-row-shown) {
        box-shadow: top-line($breakpoint-color), bottom-line($separator-color) !important;
      }

      &:has(+ .observe-step-row-with-breakpoint),
      &:has(+ .observe-step-row-with-breakpoint):has(+ .observe-step-row-first-in-atom) {
        // Breakpoint row with next row with breakpoint.
        // BREAKPOINT-BREAKPOINT-BREAKPO
        //
        //
        // ROW CONTENTS
        //
        //
        // BREAKPOINT-BREAKPOINT-BREAKPO
        td:not(.observe-breakpoint-table-cell, .lucuma-sequence-extra-row-shown) {
          box-shadow: top-line($breakpoint-color), bottom-line($breakpoint-color) !important;
        }
      }

      &:has(+ .observe-step-row-first-in-atom) {
        // Breakpoint row with next row first-in-atom.
        // -----------------------------
        // BREAKPOINT-BREAKPOINT-BREAKPO
        //
        // ROW CONTENTS
        //
        //
        // ATOM-ATOM-ATOM-ATOM-ATOM-ATOM
        td:not(.observe-breakpoint-table-cell, .lucuma-sequence-extra-row-shown) {
          box-shadow: top-line($breakpoint-color), bottom-line($atom-color) !important;
        }
      }

      &:not(.observe-row-header):hover {
        // Breakpoint hovering row.
        // BREAKPOINT-BREAKPOINT-BREAKPO
        // HOVER-HOVER-HOVER-HOVER-HOVER
        //
        // ROW CONTENTS
        //
        //
        // HOVER-HOVER-HOVER-HOVER-HOVER
        td:not(.observe-breakpoint-table-cell, .lucuma-sequence-extra-row-shown) {
          box-shadow:
            top-double-line($breakpoint-color, $hover-color), bottom-line($hover-color) !important;
        }

        &:has(+ .observe-step-row-with-breakpoint) {
          // Breakpoint hovering row with next row with breakpoint.
          // BREAKPOINT-BREAKPOINT-BREAKPO
          // HOVER-HOVER-HOVER-HOVER-HOVER
          //
          // ROW CONTENTS
          //
          // HOVER-HOVER-HOVER-HOVER-HOVER
          // BREAKPOINT-BREAKPOINT-BREAKPO
          td:not(.observe-breakpoint-table-cell, .lucuma-sequence-extra-row-shown) {
            box-shadow:
              top-double-line($breakpoint-color, $hover-color),
              bottom-double-line($breakpoint-color, $hover-color) !important;
          }
        }
      }
    }
    /* stylelint-enable scss/comment-no-empty */

    tr.observe-step-row-possible-future {
      opacity: 0.6;
    }

    // The actual cell is translated.
    td.observe-breakpoint-table-cell {
      vertical-align: top;
      transform: translate(4px, -8px);
      overflow: visible; // This shows the breakpoint markers, even with width 0.
      padding: 0;
    }
  }
}

.observe-acquisition-prompt {
  height: 75px;
  padding: 10px;
  margin-left: -20px;
  text-align: left;
  display: flex;
  gap: 10px;
  color: var(--gray-800);
  background-color: var(--yellow-400);

  .observe-acquisition-prompt-main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 6px;
  }

  .observe-acquisition-prompt-busy {
    align-self: center;
    padding-right: 15px;
  }
}

.p-progressbar {
  &.observe-observation-progress-bar {
    margin: 0;
    flex-grow: 2;

    .p-progressbar-value {
      overflow: visible;
      justify-content: flex-start;
      transition: none; // Important for smooth progress bar animation.

      .p-progressbar-label {
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-weight: bold;
      }
    }
  }
}

.p-button-group {
  &.observe-control-button-strip {
    height: 21px;
    width: 84px;
    padding-left: 0.2em;
    padding-right: 0.5em;

    & > button {
      height: 100%;
      width: 25px;
    }

    // Resume and pause buttons don't have a large icon, so we pad them.
    & > .observe-play-button,
    & > .observe-pause-button {
      & > .p-button-icon {
        padding-left: 2.4px;
        padding-right: 2.4px;
      }
    }
  }
}

@mixin control-button {
  color: var(--primary-50);
  border: 0;
  padding: 0;
}

.p-button.p-button-icon-only {
  &.observe-pause-button {
    @include control-button;

    background-color: var(--teal-500);

    &:enabled:hover {
      background-color: var(--teal-600);
    }
  }

  &.observe-cancel-pause-button {
    @include control-button;

    background-color: var(--orange-700);

    &:enabled:hover {
      background-color: var(--orange-800);
    }
  }

  &.observe-stop-button {
    @include control-button;

    background-color: var(--orange-500);

    &:enabled:hover {
      background-color: var(--orange-600);
    }
  }

  &.observe-play-button {
    @include control-button;

    background-color: var(--blue-500);

    &:enabled:hover {
      background-color: var(--blue-600);
    }
  }

  &.observe-reload-button {
    @include control-button;

    background-color: var(--indigo-500);

    &:enabled:hover {
      background-color: var(--indigo-600);
    }
  }

  &.observe-abort-button {
    @include control-button;

    background-color: var(--red-500);

    &:enabled:hover {
      background-color: var(--red-600);
    }
  }
}

// .ReactVirtualized__Table__headerRow {
//   font-weight: 700;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   .borderRight();
//   .borderLeft();
//   .borderTop();
// }
// .ReactVirtualized__Table__headerColumn {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   padding: 0;
//   &:first-of-type {
//     border-left: none;
//   }
// }

// .ReactVirtualized__Table__headerTruncatedText {
//   padding-left: @table_row_left_padding;
// }

// .ReactVirtualized__Table__rowColumn {
//   .borderLeft();
//   min-width: 20px;
//   display: flex;
//   align-items: center;
//   font-size: small;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   height: 100%;
//   &:first-of-type {
//     border-left: none;
//   }
// }

.observe-guiding-cell {
  display: flex;
  width: 100%;
  align-items: center;

  // padding-left: @table_row_left_padding;
  // padding-right: @table_row_left_padding;
}

.observe-offsets-block {
  margin-left: auto;
  display: flex;
  align-items: center;
  text-align: right;
}

.observe-offsets-nod-label {
  font-weight: bold;
  margin-left: 10px;
  margin-right: 3px;
}

.observe-offset-component {
  display: flex;
}

.observe-step-settings-header {
  color: var(--text-color);
}

.observe-step-type-cell {
  text-align: center;
}

.p-tag.observe-step-type-tag {
  .p-tag-value {
    font-size: 0.7857rem;
  }

  &.observe-step-type-completed {
    background-color: var(--gray-500);
  }
}

.observe-control-cell {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 42.3px;
  align-self: flex-start;
  position: absolute;
  top: 0;
  height: 100%;
}

.observe-icon-cell {
  justify-content: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;

  &.observe-skipped-icon-cell {
    padding-right: 10px;
  }
}

.observe-breakpoint-handle {
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  &:hover {
    transform: scale(1.5) translateX(-3px);
  }
}

.observe-breakpoint-icon {
  color: var(--muted-color);

  &.observe-active-breakpoint {
    color: var(--red-500);
  }
}

.observe-skip-handle {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.1s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }

  .observe-skip-icon-set {
    color: var(--orange-500);
  }
}

.observe-default-cursor {
  cursor: default !important;
}

.observe-config-button-strip {
  padding: 0 0.5em;
}

.p-component.p-button.p-button-sm.observe-config-button {
  border: 0;
  padding: 0 0.5em;
  height: 100%;
}

.observe-syncing-panel {
  height: var(--solar-system-size);
  width: var(--solar-system-size);

  .p-dialog-header {
    text-align: center;
  }

  .p-dialog-content {
    display: flex;
    align-items: end;
    justify-content: center;
    margin-bottom: 1.5em;
  }
}

.observe-obs-header {
  display: flex;
  justify-content: space-between;

  > div {
    flex: 1 1 auto;
    margin: 15px 10px;
  }
}

.observe-obs-summary {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .observe-obs-summary-title {
    font-size: x-large;
    font-weight: bold;
  }

  .observe-obs-summary-details {
    display: flex;
    gap: 3em;
    align-items: center;
  }

  .observe-obs-summary-subsystems {
    display: flex;
    gap: 0.8em;
  }
}

.observe-obs-load-section {
  flex-grow: 0 !important;
}

.p-button.p-button-icon-only.observe-obs-summary-button {
  font-size: small;
  padding: 6px 4px;
}

.p-button.p-button-icon-only.observe-single-button {
  padding-left: 2px;
  padding-right: 2px;
}

.observe-icon-soft {
  opacity: 0.8;
}

.observe-qa-status-editable {
  cursor: pointer;

  .observe-qa-status-select {
    margin-left: 0.25dvw;
    visibility: hidden;
  }

  &:hover .observe-qa-status-select {
    visibility: visible;
  }
}

.observe-qa-editor-overlay.p-component.p-overlaypanel {
  .p-overlaypanel-content {
    padding: 0.4rem;

    .observe-qa-editor-panel {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .observe-qa-status-button-strip {
        display: flex;

        .p-component.p-button {
          flex: 1 1 0;
          padding-left: 10px !important;
          padding-right: 10px !important;
          display: flex;
          gap: 5px;
          width: 82px;
        }
      }
    }

    .observe-qa-editor-panel-buttons {
      align-self: end;

      button {
        align-items: center;
      }
    }
  }
}

.observe-log-table {
  .observe-log-warning-row {
    background-color: var(--active-row-background);
  }

  .observe-log-error-row {
    background-color: var(--negative-row-background);
    color: var(--negative-row-color);
  }
}

.observe-external-link {
  margin-left: 0.4em;
  font-size: smaller;
  vertical-align: baseline;
}

.observe-obs-summary-title {
  .observe-external-link {
    font-size: 12px;
    vertical-align: super;
  }
}

.observe-popup {
  &.p-dialog {
    height: 90vh;
    width: 90vw !important;
    top: 30px;
  }
}
